---
import i18next, { t } from "i18next";
---

<section>
  <p class="title">{t("coOrganization.title")}</p>
  <div class="wrapper">
    <div class="item">
      <img src="/images/image 7.png" />
    </div>
    <div class="item">
      <img src="/images/image 8.png" />
    </div>
  </div>
</section>

<style>
  .title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    /* neutral/900 */

    color: #171717;
  }
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .item {
    width: 320px;
    height: 96px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    /* gray/400 */

    border: 0.461538px solid #9ca3af;
    border-radius: 10px;
  }
</style>
