---
import { t } from "i18next";
---

<section class="mt-48">
  <h2 class="text-4xl font-bold text-center">{t("Faq.title")}</h2>
  <div class="mt-14">
    {
      new Array(8).fill("").map((_, index) => (
        <div>
          <div class="faq-collapse my-8 flex items-center justify-between cursor-pointer">
            <span class="text-2xl select-none">{t(`Faq.que${index + 1}`)}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </div>
          <p class="hidden select-none text-base mb-8 text-neutral-900">
            {t(`Faq.ans${index + 1}`)}
          </p>
          <hr />
        </div>
      ))
    }
  </div>
</section>

<script>
  const collapses = document.querySelectorAll(".faq-collapse");
  collapses.forEach((collapse, index) =>
    collapse.addEventListener("click", () => {
      const panel = collapses[index].parentNode?.children[1];
      const svg = collapses[index].children[1];
      if (panel) {
        if (/hidden/.test(panel.classList.value)) {
          panel.classList.remove("hidden");
          svg.classList.add("rotate-90");
        } else {
          panel.classList.add("hidden");
          svg.classList.remove("rotate-90");
        }
      }
    })
  );
</script>
