---
import '../styles/hero.css';
---

<div class="hero-wrap mt-16 mb-24 flex flex-col h-full justify-center items-center bg-white relative isolate mx-auto sm:bg-[url(/images/banner.jpeg)] bg-[url(/images/banner-mobile.png)] bg-no-repeat bg-cover bg-top">
  <div id="hero" class="anchor"></div>
  <div class="container sm:w-5/12 w-2/3 pt-16 pb-16">
    <!-- content -->
    <img src="/images/eth-title.png" alt="" class="sm:w-2/3 w-full sm:mb-6 mb-8 m-auto block inset-0 -z-10 h-full object-contain object-right md:object-center">
    <a href="#" class="hero-apply__btn text-center pt-2.5 sm:pt-2 block m-auto sm:w-32 w-36 sm:h-9 h-10 text-sm">Apply to hack</a>
    <div class="flex w-auto flex-wrap sm:flex-nowrap sm:justify-between justify-center sm:mt-6 mt-8">
      <img src="/images/reg-time.png" alt="" class="inset-0 -z-10 h-full sm:w-1/2 w-full object-cover object-right md:object-center">
      <img src="/images/hack-time.png" alt="" class="inset-0 -z-10 h-full sm:w-1/2 w-full sm:ml-3 sm:mt-0 mt-4 object-cover object-right md:object-center">
    </div>
  </div>
</div>