---
import '../styles/hero.css';
---

<div class="hero-wrap mt-16 mb-28 flex flex-col justify-center items-center bg-white relative isolate mx-auto bg-no-repeat bg-cover bg-top" style="background-image: url(/images/banner.jpeg)">
  <div class="container w-5/12 pt-16 pb-16">
    <!-- content -->
    <img src="/images/eth-title.png" alt="" class="w-2/3 mb-6 m-auto block inset-0 -z-10 h-full object-contain object-right md:object-center">
    <button type="button" class="hero-apply__btn block m-auto w-32 h-9 text-sm">Apply to hack</button>
    <div class="flex w-auto justify-between mt-6">
      <img src="/images/reg-time.png" alt="" class="inset-0 -z-10 h-full w-1/2 object-cover object-right md:object-center">
      <img src="/images/hack-time.png" alt="" class="inset-0 -z-10 h-full w-1/2 ml-3 object-cover object-right md:object-center">
    </div>
  </div>
</div>