<section class="intro">
  <h1>
    ETH Beijing Hackthon
    <img src="/images/2023-badge-1.png" class="mx-4 year" />
  </h1>
  <p class="text-neutral-900 desc">
    In the post-covid-19 era, the first offline event of Ethereum in Beijing is coming!
  </p>
  <div class="wrapper">
    <div class="icon-wrapper">
      <div class="icon">
        <img src="images/image 3.png" class="b-u" />
        <p class="name">PKU BLOCKCHAIN</p>
      </div>
      <img src="images/x.svg" class="x mx-4" />
      <div class="icon">
        <img src="images/wtf.png" class="b-u" />
        <p class="name">WTF ACADEMY</p>
      </div>
    </div>
    <div class="intro-content">
      <p>
        The hackathon is hosted by PKU Blockchain DAO (Beijing University Blockchain Association)
        and WTF Academy, co-organized by ETHPlanet and Scroll.
      </p>
      <p>
        With three main tracks and a total prize pool of $30,000+. As long as you have enough
        technical or research strength, you are welcome to participate in this event as an
        individual or in a team!
      </p>
    </div>
  </div>
</section>

<style>
  .intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    height: 44px;
    color: #000000;
    margin-bottom: 18px;
  }
  .desc {
    font-size: 18px;
    line-height: 150%;
    height: 27px;
  }
  .wrapper {
    height: 229px;
    background: #ffffff;
    /* gray/400 */
    display: flex;
    width: 1080px;

    border: 0.5px solid #9ca3af;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .icon-wrapper {
    border-right: 0.5px solid #9ca3af;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 800px;
  }
  .year {
    height: 37px;
  }
  .name {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    /* neutral/900 */

    color: #171717;
  }
  .icon {
    padding-top: 0px;
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .x {
    color: #9ca3af;
  }
  .intro-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
