---
import '../styles/navbar.css';
---
<nav class="bg-white fixed top-0 left-0 w-full z-10">
  <div class="mx-auto max-w-7xl px-2 lg:px-8 w-full">
    <div class="relative flex h-16 items-center justify-between w-full">
      <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="w-full flex flex-1 items-center justify-around lg:px-32">
        <div class="flex flex-shrink-0 items-center">
          <img class="block h-8 w-auto lg:hidden" src="/images/logo.png" alt="Your Company">
          <img class="hidden h-8 w-auto lg:block" src="/images/logo.png" alt="Your Company">
        </div>
        <div class="nav-bar h-full hidden sm:block">
          <div class="flex h-full items-center">
            <a href="#" class="text-base font-medium" aria-current="page">Overview</a>
            <a href="#" class="text-base font-medium">Prizes</a>
            <a href="#" class="text-base font-medium">Schedule</a>
            <a href="#" class="text-base font-medium">Speakers</a>
            <a href="#" class="text-base font-medium">Venue</a>
            <a href="#" class="text-base font-medium">FAQ</a>
          </div>
        </div>
        <div class="nav-bar__lang relative inline-block text-left">
          <select id="language" name="language" style={{ fontSize: '0.75rem', color: '#262626' }} class="appearance-none mt-1 block w-24 rounded-md border border-gray-300 bg-white py-1 px-3 pr-0 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <option value="english" selected>English</option>
            <option value="chinese">简体中文</option>
          </select>
          <div class="icon absolute bg-no-repeat bg-cover bg-top top-3.5 right-3.5"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="nav-bar sm:hidden" id="mobile-menu">
    <div class="flex items-center">
      <a href="#" class="text-base font-medium" aria-current="page">Overview</a>
      <a href="#" class="text-base font-medium">Prizes</a>
      <a href="#" class="text-base font-medium">Schedule</a>
      <a href="#" class="text-base font-medium">Speakers</a>
      <a href="#" class="text-base font-medium">Venue</a>
      <a href="#" class="text-base font-medium">FAQ</a>
    </div>
  </div>
</nav>
