---
import i18next, { t } from "i18next";
const cardData = [
  {
    img: "/images/support-program.png",
  },
  // {
  //   img: "/images/sponsor1.png",
  // },
  // {
  //   img: "/images/bixin.png",
  // },
  // {
  //   img: "/images/token-pocket.png",
  // },
  // {
  //   img: "/images/StarkWare.png",
  // },
  // {
  //   img: "/images/sponsor3.png",
  // },
  // {
  //   img: "/images/partner/ld-capital.jpg",
  // },
  // {
  //   img: "/images/bcx.png",
  // },
  // {
  //   img: "/images/aspecta.png",
  // },
  {
    img: "/images/scroll.png",
  },
  {
    img: "/images/Galxe.png",
  },
  {
    img: "/images/gcc.png",
  },
];
---

<section class="container">
  <div class="title flex items-center gap-x-3 text-neutral-900">
    <img src="/images/heart.svg" height="17.88" width="16.5" />
    <span class="text-neutral-900 text-sm leading-[17px]"
      >{t("sponsors.title")}</span
    >
  </div>
  <div class="flex flex-wrap justify-center gap-5 mt-[60px] mb-[100px]">
    {
      cardData.map((item) => {
        return (
          <div class="card_box flex">
            <div class="avatar">
              <img
                class={`avatar_img ${
                  item.img == "/images/token-pocket.png" ||
                  item.img == "/images/aspecta.png" ||
                  item.img == "/images/bixin.png"
                    ? "w-[240px]"
                    : "w-[150px]"
                }`}
                src={item.img}
              />
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }

  .card_box {
    height: 96px;
    width: 340px;
    border-radius: 10px;
    padding: 20px;
    border: 0.5px solid #9ca3af;
    background: #ffffff;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
  }
</style>
